<div>
  <h3>参加中のラリー</h3>
  <ul id="rally_participate"></ul>
</div>
<div>
  <h3>開催中のラリー</h3>
  <ul id="rally_list"></ul>
</div>
<div>
  <%= link_to "Drow Tags", "#", onclick: "drowTag();return false;" %>
</div>
<div>
  <%= link_to "Tracking Prius", "#", onclick: "trackingPrius();return false;" %> |
  <%= link_to "Stop",           "#", onclick: "trackingStop();return false;" %> 
</div>
<div>
  <%= link_to "New Message", "#", 
      onclick: "newMessage('" + escape_javascript(render("tweet", 
                  timestamp: "now", 
                  fullname: "UserName", 
                  username: "username", 
                  avatar_url: "http://mobile.gungho.jp/library/img/details/pad/kabegami/Seiren.gif", 
                  message: "Message.Hello, world.")) + "', 35.900949, 136.202465);return false;" %>
</div>
<div>
  <%= link_to "test", "#", onclick: "generateTweetHtml('FullName', 'username', 'http://mobile.gungho.jp/library/img/details/pad/kabegami/Seiren.gif', 'now', 'test message', 35.900949, 136.202465);return false;" %>
</div>
<br />

<div id="street_view"></div>