<article class="tweet-item">
  <header class="tweet-header">
    <time class="tweet-timestamp">
      <%= timestamp %>
    </time>
    <div class="tweet-img">
      <img class="tweet-avatar" src="<%= avatar_url %>" />
    </div>
    <div class="nbfc">
      <b class="fullname"><%= fullname %></b>
      <span class="username">
        <span class="at">@</span><%= username %>
      </span>
    </div>
  </header>
  <div class="tweet-content">
    <div class="tweet-body">
      <p><%= message %></p>
      <footer class="tweet-footer">
    </div>
  </div>
</article>