<!DOCTYPE html>
<html>
<head>
  <title><%= t :app_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://js.api.olp.yahooapis.jp/OpenLocalPlatform/V1/jsapi?appid=dj0zaiZpPTNCRjJFVmdMWE1hYyZzPWNvbnN1bWVyc2VjcmV0Jng9YzI-" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="login-info"><%= t :msg_welcome, user: "D-yama" %> <%= link_to "プロフィール編集" %> <%= link_to "ログアウト" %></div>
    <div id="logo">
      <img src="http://res.cloudinary.com/htx0gxzfc/image/upload/v1382275478/head_dwdwkt.png" />
    </div>
  </div>
  <div id="main" class="<%= sidebar_content? ? '' : 'nosidebar' %>">
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    
    <div id="content">
      <%= yield %>
    </div>
    
    <div id="timeline">
      <%= yield :timeline %>
    </div>
  </div>
  
  <div id="footer">
  </div>
</body>
</html>
